/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.center {
  max-width: 1515px;
  width: 100%;
  margin: 0 auto;
}

.center1 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.center2 {
  max-width: 1654px;
  width: 100;
  margin: 0 auto;
}

.center3 {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
  background-color: #FFFFFF;
}

.wrapper header h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #14125F;
  cursor: pointer;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.wrapper header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 445px;
}

.wrapper header ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1B1B20;
  cursor: pointer;
}

.wrapper header button {
  background: -webkit-gradient(linear, left top, left bottom, from(#8B1CFB), to(#B02CDF));
  background: linear-gradient(180deg, #8B1CFB 0%, #B02CDF 100%);
  border-radius: 30px;
  -webkit-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #8B1CFB;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 16px 32px;
  cursor: pointer;
  letter-spacing: 0.08em;
}

.wrapper .one {
  background: no-repeat url("/images/yoga-girl-1.png") 1128px 40px;
}

.wrapper .one .wrapper-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .one .wrapper-one div {
  width: 743px;
  margin-bottom: 256px;
}

.wrapper .one .wrapper-one div h1 {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
  color: #252525;
  margin: 110px 0px 36px 0px;
}

.wrapper .one .wrapper-one div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #626262;
  margin-bottom: 60px;
}

.wrapper .one .wrapper-one div .btn {
  margin-bottom: 12px;
}

.wrapper .one .wrapper-one div .btn .btn-left {
  width: 224px;
  height: 66px;
  margin-right: 23px;
}

.wrapper .one .wrapper-one div .btn .btn-right {
  width: 224px;
  height: 66px;
}

.wrapper .one .wrapper-one .fitcoin {
  width: 426px;
  height: 504px;
  margin-right: 67px;
  margin-top: 101px;
}

.wrapper .two {
  background: linear-gradient(94.9deg, #FFF5DD 1.6%, rgba(170, 86, 254, 0.32) 38.13%, rgba(254, 86, 217, 0.28) 58.65%, rgba(86, 254, 254, 0.28) 99.73%);
}

.wrapper .two .two-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .two .two-cards div {
  text-align: center;
  margin: 100px 0;
}

.wrapper .two .two-cards div img {
  margin-bottom: 24px;
}

.wrapper .two .two-cards div h3 {
  margin-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
  width: 326px;
}

.wrapper .two .two-cards div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #1B1B20;
  width: 325px;
}

.wrapper .three {
  background: url("/images/background.png");
}

.wrapper .three .three-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.wrapper .three .three-wrapper img {
  margin: 28px 0px 8px 0px;
}

.wrapper .three .three-wrapper h5 {
  margin: 48px 0 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #1B1B20;
}

.wrapper .three .three-wrapper h2 {
  text-transform: uppercase;
  margin-bottom: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #1B1B20;
  width: 592px;
}

.wrapper .three .three-wrapper h2 span {
  color: #D61FDA;
}

.wrapper .three .three-wrapper p {
  width: 743px;
  margin-bottom: 125px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #626262;
}

.wrapper .four {
  background: url("/images/yoga-girl.png") no-repeat 0px 24px;
}

.wrapper .four .four-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

.wrapper .four .four-wrapper .wid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 900px;
  -ms-flex-item-align: end;
      align-self: end;
  text-align: center;
  margin: 192px 0 322px;
}

.wrapper .four .four-wrapper .wid h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #1B1B20;
  width: 669px;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.wrapper .four .four-wrapper .wid h3 span {
  color: #D61FDA;
}

.wrapper .four .four-wrapper .wid p {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #626262;
  width: 900px;
}

.wrapper .five {
  background-image: url("/images/rectangle.png");
  background-size: 1805px 650px;
  background-position: -73px -61px;
  margin-bottom: 38px;
  border-radius: 20px;
}

.wrapper .five .five-wrapper .earn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #000000;
  text-transform: uppercase;
  padding: 60px 0px 48px;
  text-align: center;
}

.wrapper .five .five-wrapper .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.wrapper .five .five-wrapper .cards .card {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
  width: 400px;
}

.wrapper .five .five-wrapper .cards .card h4 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 24px;
}

.wrapper .five .five-wrapper .cards .card ul {
  font-weight: 400px;
  font-size: 16px;
  color: #1B1B20;
  list-style-type: disc;
}

.wrapper .five .five-wrapper .cards .card ul li {
  margin-left: 15px;
  margin-bottom: 8px;
}

.wrapper .five .five-wrapper .cards .card ul li:last-child {
  margin-bottom: 0px;
}

.wrapper .six-bg {
  margin: 0px 48px;
  background: url("/images/background-1.png") no-repeat;
  background-size: 1824px 862px;
  background-position: 0px 0px;
}

.wrapper .six-bg .six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: 0px 491px url("/images/mirrors.png") no-repeat;
  background-size: contain;
}

.wrapper .six-bg .six h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #1B1B20;
  width: 900px;
  margin: 148px 0px 80px;
}

.wrapper .six-bg .six h3 span {
  color: #D61FDA;
}

.wrapper .six-bg .six .fit-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .six-bg .six .fit-wrapper .fit-mirror {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: #2D2D2D;
  margin-bottom: 926px;
}

.wrapper .six-bg .six .fit-wrapper .fit-mirror h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1B1B20;
  text-transform: uppercase;
}

.wrapper .six-bg .six .fit-wrapper .fit-mirror h4 span {
  color: #D61FDA;
}

.wrapper .six-bg .six .fit-wrapper .fit-mirror h5 {
  margin: 24px 0px;
}

.wrapper .six-bg .six .fit-wrapper .fit-mirror p {
  width: 270px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */